<nav class="nav-main" role="navigation">
  <div class="container-fluid cf">
    <a class="logo logo-seneca" href="/" title="Pino"></a>
    <!-- nav search -->
    <div class="nav-bar cf">
      <input type="checkbox" name="nav-menu-handle" id="nav-menu-handle" class="nav-menu-handle">
      <label for="nav-menu-handle"></label>

      <ul class="list-unstyled list-inline nav-items">
          <li><a href="/">Home</a>
          <li><a href="/#whatis">What is Pino?</a>
          <li><a href="/#action">Pino in action</a>
          <li><a href="/#start">Get started</a>
      </ul>
      <!-- nav items -->
    </div>

  </div>
  <!-- container -->
</nav>
