<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>
  {{> menu}}
  <section id="home"  class="section content color-palette-9 separator-none" style="">
    <div class="section-inner"> <div class="wrapper">
      <div class="vp-spacer vp-mode-default" style="padding-top: 80px;"></div>      
      <header role="banner">
        <div class="container-fluid">
          <div class="row center-xs">
            <div class="col-xs-12 col-md-10 col-lg-10">
              <img src="images/illustration-top.svg" alt="Design, develop and organize code" title="Design, develop and organize code" height="auto" width="320" class="mt">
              <h2>Pino - fast and simple Node.js logger</h2>
              <div class="row center-xs">
                <div class="col-xs-12 col-md-8">
                  <pre><code class="txt-lead">$ npm install pino --save</code></pre>
                </div>
              </div>
            </div>
            <!-- col -->
          </div>
        </div>
      </header>

      <section id="whatis"  class="section content color-palette-9 separator-none" style="">
        <div class="section-inner"> <div class="wrapper">
          <div class="vp-spacer vp-mode-default" style="padding-top: 80px;"></div>

          <div class="container-fluid">
            <div class="row center-xs">
              <div class="col-xs-12 col-md-10 col-lg-10">

                <div class="row">
                  <h2 class="col-xs-12 mb2x">What is Pino?</h2>
                  <div class="col-xs-12 col-md-6 txt-left">
                    <p>
                      Pino is the <a href="https://github.com/mcollina/pino#benchmarks">fastest logger</a> for Node.js.
                      Pino logs in JSON, and it is API-compatible with <a href="http://npm.im/bunyan">Bunyan</a>.
                      It also includes a shell utility to pretty-print its log files
                    </p>
                  </div>

                  <div class="col-xs-12 col-md-6 txt-left">
                    <p>
                      Several applications have been ported to Pino from <a href="http://npm.im/bunyan">Bunyan</a>
                      or <a href="http://npm.im/winston">Winston</a> and they experienced a 20% to 100% throughput increase.
                    </p>
                  </div>
                </div>
                <!-- row -->
                <section id="action"  class="section content color-palette-9 separator-none" style="">
                  <div class="section-inner"> <div class="wrapper">
                    <div class="vp-spacer vp-mode-default" style="padding-top: 80px;"></div>

                    {{> seperator}}



                    <div class="row txt-left">
                      <div class="col-xs-12">
                        <h2 class="txt-center mb2x">Pino in action</h2>
                        {{{ contents }}}
                      </div>
                    </div>
                    <!-- row -->

                    <section id="start"  class="section content color-palette-9 separator-none" style="">
                      <div class="section-inner"> <div class="wrapper">
                        <div class="vp-spacer vp-mode-default" style="padding-top: 80px;"></div>


                        <div class="row">
                          <h2 class="col-xs-12 mb2x">Get Started</h2>

                          <div class="col-xs-12 col-md-4 panel-equal-height">
                            <a class="panel panel-highlighted panel-download" href="https://www.npmjs.com/package/pino" target="_blank">
                              <p class="txt-center mb0"><i class="icon icon-download"></i></p>
                              <p class="mb0">Download and install</p>
                            </a>
                          </div>

                          <div class="col-xs-12 col-md-4 panel-equal-height">
                            <a class="panel panel-highlighted panel-start" href="/get-started/">
                              <p class="txt-center mb0"><i class="icon icon-start"></i></p>
                              <p class="mb0">Quick start</p>
                            </a>
                          </div>

                          <div class="col-xs-12 col-md-4 panel-equal-height">
                            <a class="panel panel-highlighted panel-updates" href="https://github.com/mcollina/pino/releases" target="_blank">
                              <p class="txt-center mb0"><i class="icon icon-updates"></i></p>
                              <p class="mb0">Updates and releases</p>
                            </a>
                          </div>
                          <div class="col-xs-12 col-md-4 panel-equal-height">
                            <a class="panel panel-highlighted panel-bug" href="https://github.com/mcollina/pino/issues" target="_blank">
                              <p class="txt-center mb0"><i class="icon icon-bug"></i></p>
                              <p class="mb0">Any issues ?</p>
                            </a>
                          </div>

                          <div class="col-xs-12 col-md-4 panel-equal-height">
                            <a class="panel panel-highlighted panel-plus" href="/contribute/" >
                              <p class="txt-center mb0"><i class="icon icon-plus"></i></p>
                              <p class="mb0">Contributing</p>
                            </a>
                          </div>

                          <div class="col-xs-12 col-md-4 panel-equal-height">
                            <a class="panel panel-highlighted panel-chat" href="https://gitter.im/mcollina/pino" target="_blank">
                              <p class="txt-center mb0"><i class="icon icon-chat"></i></p>
                              <p class="mb0"> Chat on Gitter</p>
                            </a>
                          </div>
                        </div>
                        <!-- row -->

                      </div>
                      <!-- main col -->
                    </div>
                    <!-- main row -->
                  </div>
                  <!-- container fluid -->

                  {{> footer}}
                  {{> analytics}}
                </body>
                </html>
